<footer>
  <div class="container">
    <div class="row gy-4 gy-sm-0">
      <div class="col-12 col-sm-4">
        <h5>Bookstore</h5>
        <p>Il miglior sito di E-Commerce del mondo</p>
        <a href="#"
           target="_blank"
           class="socialIcon"><i class="bi bi-facebook"></i></a>
        <a href="#"
           target="_blank"
           class="socialIcon"><i class="bi bi-instagram"></i></a>
        <a href="#"
           target="_blank"
           class="socialIcon"><i class="bi bi-youtube"></i></a>
        <a href="#"
           target="_blank"
           class="socialIcon"><i class="bi bi-linkedin"></i></a>
      </div>

      <div class="col-12 col-sm-8 col-lg-6">
        <div class="bg-secondary text-light border p-3">
          <h6>Iscriviti alla newsletter</h6>
          <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   placeholder="La tua email">
            <button class="btn btn-dark"
                    type="button">Iscriviti</button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center pt-5">
      &copy; Bookstore 2021 - Made by Marco
    </div>
  </div>
</footer>
